body {
  background-image: url("../../../assets/images/concientizacao.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
h1 {
  font-size: 2rem;
  font-weight: bolder;
}

section {
  padding-inline: 3rem;
}

/* .card {
  border: 1px solid hsl(100, 60%, 60%);
  border-radius: 10px;
  backdrop-filter: blur(200px);
  padding-block: 2rem;
  margin-inline: 20rem;
  margin-top: 10rem;
} */
.card {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 2rem;
  padding-top: 2rem;
  border-radius: 8px;
  backdrop-filter: blur(90px);
  margin-inline: 20rem;
  margin-top: 28rem;
}

p {
  line-height: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

/* ----------------------- 800px x 1440px ------------------------*/
@media only screen and (min-width: 800px) and (max-width: 1440px) {
  /* TODO: Alterar aqui */
  .card {
    padding-inline: 0;
    margin-top: 28rem;
  }
}

/* ----------------------- 100px x 799px ------------------------*/
@media only screen and (min-width: 100px) and (max-width: 799px) {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  p {
    line-height: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .card {
    padding-inline: 0;
    margin-top: 135rem;
  }
}
