body {
  background-image: url("../../../assets/images/sorocaba.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

section {
  padding-inline: 3rem;
}

.content {
  text-align: left;
  margin-bottom: 20px;
}

.images-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-wrapper {
  margin-right: 5px;
}

.ler-mais {
  margin-block: 2rem;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  color: #ffffff;
  border: 1px solid hsl(100, 60%, 60%);
  padding: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s, outline-color 0.2s;
  border-radius: 6px;
  backdrop-filter: blur(7px);
}
.ler-mais a {
  color: #ffffff;
}

.ler-mais:hover {
  color: #ffffff;
  background: hsl(100, 60%, 50%);
}

.card {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 2rem;
  padding-top: 2rem;
  border-radius: 8px;
  backdrop-filter: blur(90px);
  margin-inline: 40rem;
  margin-top: 10rem;
}

p {
  line-height: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

/* ----------------------- 800px x 1440px ------------------------*/
@media only screen and (min-width: 800px) and (max-width: 1440px) {
  /* TODO: Alterar aqui */
  .card {
    padding-inline: 0;
    margin-top: 10rem;
  }
}

/* ----------------------- 100px x 799px ------------------------*/
@media only screen and (min-width: 100px) and (max-width: 799px) {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  p {
    line-height: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .card {
    padding-inline: 0;
    margin-top: 65rem;
  }
}
