footer {
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  background: linear-gradient(90deg, hsl(60, 60%, 50%), hsl(80 70% 50% / 1));
}

footer > p {
  color: #212121;
}

.mt-footer {
  margin-top: 1rem;
}
