section {
  padding-inline: 10rem;
}

/* ----------------------- 800px x 1440px ------------------------*/
@media only screen and (min-width: 800px) and (max-width: 1440px) {
  section {
    padding-inline: 5rem;
  }
}

/* ----------------------- 100px x 799px ------------------------*/
@media only screen and (min-width: 100px) and (max-width: 799px) {
  section {
    padding-inline: 3rem;
  }
}
