@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url(./pre/reset.css);
@import url(./pre/normalize.css);
@import url(./pre/grid-system.css);

@import url(./home/header.css);
@import url(./home/section.css);
@import url(./home/ecopontos.css);
@import url(./home/footer.css);

:root {
  font-family: "Open Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------- 800px x 1440px ------------------------*/
@media only screen and (min-width: 800px) and (max-width: 1440px) {
  .md-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ----------------------- 100px x 799px ------------------------*/
@media only screen and (min-width: 100px) and (max-width: 799px) {
  .sm-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
